.add-new-course-container {
  padding: 50px 60px;
  border: 1px solid grey;
  border-radius: 4px;
  width: 80vw;

  .title-input {
    width: 100%;
  }
  .duration-input {
    width: 33vw;
  }
  .author-name-input {
    width: 33vw;
  }
}
