.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-container-form {
    padding: 60px 150px;
    border: 1px solid grey;
    border-radius: 4px;
  }
  .email-input {
    width: 260px;
  }
  .input-error {
    border-color: red;
  }
}
